/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box; 
  margin: 0;
  user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  outline: none;
}


header p{
  text-align: center;
  font-size: .75em;
  background-color: #f0eeed;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0px;
  margin-bottom: 0px;
  padding: .75em;
  width: 375px;
}

header img{
  margin-left: 7px;
  margin-right: 7px; 
  margin-bottom: 10px;
  margin-top: 15px;
  width: 25px;  
}

header nav a:nth-of-type(1) img{
  margin-left: 37px;
  margin-right: 45px; 
  margin-bottom: 10px;
  margin-top: 15px;
  width: 100px;  
}

nav button{
  background: none;
  border: none;
}

nav ul li button{
  position: relative;
  left: 240px;
}

header nav button:nth-of-type(2){
  margin-left: -10px;
}

nav {
  order:-1;  
}

nav ul { 
  width: 80%;
  margin:0; 
  padding:2em 0 0;
  background: #ffffff;
  list-style:none;
  position:fixed;
  left:0; right:0; top:0; bottom:0;
  transform:translatex(-100%);
  transition: .8s;
  z-index:50;
  
}

nav li a {
  color: #637381;
  line-height: 1.8em;
  font-size: 1.2em;
  font-family: sans-serif;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: .25em;
  padding: .25em 1em;
}

header nav ul li:first-of-type button img{
  width: 17px;
  height: auto;
}


nav.showMenu ul {
  transform:translatex(0%);
  box-shadow:0px 5px 100px #1c1c1c;  
}


iframe{
  margin-top: -4px;
  width: 100%;
  height: 100%;
}

h2{
  font-size: 1.25em;
  text-align: center;
  text-transform: uppercase;
  font-family: sans-serif;
  margin-top: 35px;
  line-height: 1.6em;
}

h3{
  font-size: 1.75em;
  font-family: sans-serif;
  margin-top: 35px;
  margin-bottom: .5em;
}

h4{
  font-size: 1em;
  font-family: sans-serif;
  margin-top: 35px;
  margin-bottom: .5em;
  margin-left: 15px;
}

section:nth-of-type(1) span a{
  color: #637381; 
  font-size: .70em;
  text-align: center;
  text-decoration-line: underline;
  text-transform: uppercase;
  font-family: sans-serif;
  line-height: 1.6em;
}

ul{
  list-style: none;
}

ul:nth-of-type(1) li img{
  margin-top: 20px;
  width: 60%;
  height: 60%;
}

/* ul:nth-of-type(1) li{
    display: flex;
    justify-content: space-evenly;
} */

section:nth-of-type(1) span{
  display: block;
  text-align: center;
}

/* carousel */
section:nth-of-type(1) main{
	align-content: center;
	overflow: scroll;
  scroll-snap-type: x mandatory;
}

section:nth-of-type(1) main ul{
	width: fit-content;
	display: flex;
  flex-direction: row;
	height: 300px;
	width: 2000px;
}

section:nth-of-type(1) main ul li{
	display: table;
	width: 2000px;
  height: 300px;
	scroll-snap-align: center;
	scroll-snap-stop: always;
	background-color: white;
  border: none;
}



section:nth-of-type(1) main ul li p{
  text-align: center;
  font-family: sans-serif;
  line-height: 1.6em;
  inline-size: 180px;
  overflow-wrap: break-word;
}

section:nth-of-type(1) main ul li p:nth-of-type(3){
  font-weight: bold;
}

section:nth-of-type(1) article:nth-of-type(1){
  position: absolute;
}

/* section:nth-of-type(1) article button:first-of-type{
  position: relative;
  top: -30px;
  left: -150px;
}

section:nth-of-type(1) article button:last-of-type{
  position: relative;
  top: -53px;
  left: 150px;
} */

p{
  font-family: sans-serif;
  color: #637381;
}



section:nth-of-type(1) button{
  background: none;
  border: none;
}

section:nth-of-type(1) button img{
  width: 5%;
  height: auto;
}

section:nth-of-type(2){
position: relative;
}

section:nth-of-type(2) img{
  width: 375px;
  height: auto;
  margin-bottom: 8em;
  margin-top: 2em;
}



section:nth-of-type(2) a{
  background-color:white;
  color: #637381;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  text-align: center;
  font-family: sans-serif;
  font-size: 1em;
  line-height: 1.6em;
  padding-left: 1.3em;
  padding-right: 1.3em;
  padding-top: .7em;

  position: absolute;
  top: 60%;
  left: 8%;
}




section:nth-of-type(3){
  position: relative;
  margin-left: 15px;
  margin-right: 15px;
}

section:nth-of-type(3) img{
  width: 200px;
  margin: 0px;
}

section:nth-of-type(3) img:first-of-type{
  z-index: 1;
  position: relative;
}

section:nth-of-type(3) img:last-of-type{
  z-index: -1;
  position: absolute;
  top: -40px;
  left: 145px;
}

section:nth-of-type(3) p{
  margin-bottom: 2em;
  line-height: 2em;
}

section:nth-of-type(3) a{
  background-color: #212b36;;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  text-align: center;
  font-family: sans-serif;
  font-size: 1em;
  line-height: 1.6em;
  padding-left: 1.3em;
  padding-right: 1.3em;
  padding-top: .7em;
  padding-bottom: .7em;
  margin-bottom: 3em;
}




section:nth-of-type(4){
  position: relative;
}

section:nth-of-type(4) img{
  width: 375px;
  margin: 0px;
  margin-top: 3em;
  margin-bottom: 20px;
}

section:nth-of-type(4) a{
  background-color:white;
  color: #637381;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  text-align: center;
  font-family: sans-serif;
  font-size: 1em;
  line-height: 1.6em;
  padding-left: 1.3em;
  padding-right: 1.3em;
  padding-top: .7em;
  padding-bottom: .7em;
  position: absolute;
  top: 45%;
  left: 20%;
}



section:nth-of-type(6) {
  display: flex;
  width: 100%;
  height: fit-content;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  position: relative;
}

section:nth-of-type(6) article {
  scroll-snap-align: center;
}

section:nth-of-type(6) article img {
  width: 100vw;
  height: auto;
  position: relative;
}

section:nth-of-type(6) span{
  position: relative;
  bottom: 80px;
  left: 4.5em;
  right: 4.5em;
}

section:nth-of-type(6) article >  span a{
  background-color: #212b36;;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  text-align: center;
  font-family: sans-serif;
  font-size: 1em;
  line-height: 1.6em;
  padding-left: 1.3em;
  padding-right: 1.3em;
  padding-top: .7em;
  padding-bottom: .7em;
}


section:nth-of-type(6) ul{
  display: flex;
  position: absolute;
  bottom: 0;
}

/* section:nth-of-type(6) ul li button{
  background: rgba(255, 255, 255, 0.2);
  border-color: rgba(255, 255, 255, 0.2);
  border-radius: 10000px;
  margin: 0 5px;
  cursor: pointer;
  padding: .5em;
} */


/* section:nth-of-type(6) ul li button.selected{
  background: rgba(255, 255, 255, 0.5);
  border-color: rgba(255, 255, 255, 0.5);
} */



section:nth-of-type(7){
  margin-left: 15px;
  margin-right: 15px;
}
section:nth-of-type(7) img{
  width: 340px;
  margin: 0px;
  margin-top: 3em;
}

section:nth-of-type(7) p{
  margin-bottom: 1em;
  line-height: 2em;
}

section:nth-of-type(7) a{
  background-color: #212b36;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  text-align: center;
  font-family: sans-serif;
  font-size: 1em;
  line-height: 1.6em;
  padding-left: 1.3em;
  padding-right: 1.3em;
  padding-top: .7em;
  padding-bottom: .7em;
}

section:nth-of-type(8){
  margin-top: 3em;
}

section:nth-of-type(8) h3{
  text-align: center;
}

section:nth-of-type(8) span{
  margin-left: 10%;
}

section:nth-of-type(8) input{
  border-color:  #212b36;
  font-size: 1.2em;
  padding-block: 0.5em;
  padding-left: 0.3em;
  padding-right: 0.3em;
  width: 300px;
  margin-top: 20px;
  margin-bottom: 20px;
}

section:nth-of-type(8) p{
  text-align: center;
  font-size: 1.2em;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 20px;
}

section:nth-of-type(8) article{
  padding-top: 1em;
  background-color: #f5f5f5;
}

section:nth-of-type(8) button{
  background-color: #212b36;;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
  text-align: center;
  font-family: sans-serif;
  font-size: 1em;
  line-height: 1.6em;
  padding-left: 1.3em;
  padding-right: 1.3em;
  padding-top: .7em;
  padding-bottom: .7em;
  margin-bottom: 3em;
  margin-left: 30%;
}




section:nth-of-type(9){
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  margin-top: 30px;
  margin-bottom: 30px;
}

section:nth-of-type(9) button{
  background-color: transparent;
  border: none;
}

section:nth-of-type(9) img{
  width: 20px;
  height: 20px;
}




section:nth-of-type(10){
background-color: #212b36;
padding-top: 1em;
padding-bottom: .5em;
}

section:nth-of-type(10) img{
  width: 375px;
  overflow: hidden;
  height: auto;
}

section:nth-of-type(10) h3{
  color: #ffffff;
  text-align: center;
  margin-bottom: 10px;
}

section:nth-of-type(10) p{
  color: #ffffff;
  text-align: center;
  margin-bottom: 30px;
}




footer{
  padding-top: 10px;
  padding-bottom: 30px;
  background-color: #f5f5f5;
}

 footer p{
  margin-left: 15px;
  font-size:1em;
  color: #212b36;
  line-height: 1em;
} 

/* footer ul li p{
  color: #212b36;
  line-height: 1.6em;
  font-size:1em;
  font-family: sans-serif;
  margin-left: -7%;
}  */

footer ul li a{
  margin-left: 15px;
  text-decoration: none;
  font-size:1em;
  color: #212b36;
  line-height: 1em;
  color: #212b36;
  line-height: 1.6em;
  font-size:1em;
  font-family: sans-serif;
  margin-left: -7%;
}

footer article:nth-of-type(1){
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  margin-right: 130px;
  margin-top: 20px;
}


footer button{
  background-color: transparent;
  border: none;
}

footer img{
  width: 20px;
  height: 20px;
}

footer article:nth-of-type(2){
   background-color: #a9a9a99e;
    padding: 5px 12.5px;
    width: 300px;
    margin: 25px;
    border-radius: 6px;
    border: 1px solid #a7a7a7;
    font-size: 16px;
    line-height: 1.5em;
}

footer article:nth-of-type(2) p{
  font-size: 16px;
  line-height: 1.5em;
  inline-size: 190px;
  overflow-wrap: break-word;
}